.address {
  &__address {
    grid-column: 1 / span 6;

    @include mobile {
      grid-column: 1 / span 3;
    }
  }

  &__country {
    grid-column: 1 / span 3;

    select {
      width: 100%;
    }
  }

  &__province {
    grid-column: 4 / span 3;

    @include mobile {
      grid-column: 1 / span 3;
    }
  }
}
