$switch-height: 1.5rem;

.switch {
  position: relative;
  display: inline-block;
  width: $switch-height * 2;
  height: $switch-height;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    border: solid 1px #ccc;
  }
  &__input:checked + .switch__slider {
    background-color: #5ac;
  }
  &__input:checked + .switch__slider::before {
    transform: translateX($switch-height);
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: #aaa;
    transition: 0.2s ease-in-out;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: $switch-height * 0.9;
      width: $switch-height * 0.9;
      left: $switch-height * 0.1;
      bottom: $switch-height * 0.05;
      background-color: #ddd;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
    }
  }
}
